* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
}

#game {
  width: 400px;
  height: 400px;
  margin: 20px auto 0;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
}

#score,
.container {
  border: 1px solid #eee;
}

#score {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#score span {
  color: white;
  font-size: 20px;
  font-family: consolas, sans-serif;
  text-transform: uppercase;
}

.container {
  flex: 1;
}

#snake,
#apple,
.snake-pos {
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  position: absolute;
}

#snake,
.snake-pos,
#apple {
  border: 1px solid #000;
}

#snake {

  background-color: #090;
}

.snake-pos {
  background-color: #595;
}

#apple {
  background-color: #a00;
}