/*formatting default for body of webpage*/
body {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  overflow: hidden;
}

/*canvas*/
#canvas {

  border: 1px solid #000;
  background-color: #111;
}

/*end canvas*/